@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 8px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 2px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-serif: 'Source Serif 4';

  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.625rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 7.5rem;
  --text-9xl--line-height: 1;
  --breakpoint-xs: 30rem;
  --my-grid-cols: repeat(auto-fit, minmax(458px, 1fr));
  --home-grid-cols: repeat(auto-fit, minmax(350px, 1fr));

  --breakpoint-xl: 60rem;
  --breakpoint-2xl: 70rem;
  --breakpoint-3xl: 80rem;
}

:root {
  --background: oklch(89.755% 0.0001 271.152);
  /* Цвет основного фона*/
  --foreground: oklch(0.145 0 0);
  /* Цвет основного текста */
  --card: oklch(89.755% 0.0001 271.152);
  /* Цвет карточки */
  --card-foreground: oklch(0.145 0 0);
  /* Цвет текста на карточке */
  --popover: oklch(89.755% 0.0001 271.152);
  /* Цвет всплывающего окна */
  --popover-foreground: #347854;
  /* Цвет текста во всплывающем окне */
  --primary: oklch(89.755% 0.0001 271.152);
  /* Основной цвет интерфейса: кнопка "Сохр." */
  --primary-foreground: #000000;
  /* Цвет текста на фоне primary */
  --secondary: #347854;
  /* Вторичная кнопка... */
  --secondary-foreground: oklch(89.755% 0.0001 271.152);
  /* Цвет текста на фоне secondary */
  --muted: oklch(0.97 0 0);
  /* Приглушённый цвет фона/границ */
  --muted-foreground: oklch(0.556 0 0);
  /* Приглушённый цвет текста */
  --accent: #347854;
  /* Выделяющий/дополнительный цвет */
  --accent-foreground: oklch(89.755% 0.0001 271.152);
  /* Цвет текста на фоне accent */
  --destructive: oklch(0.577 0.245 27.325);
  /* Цвет действия удалить, ошибка */
  --destructive-foreground: oklch(0.577 0.245 27.325);
  /* Цвет текста на фоне destructive */
  --border: rgba(248, 237, 217, 0.092);
  /* Цвет границ элементов */
  --input: oklch(0.922 0 0);
  /* Цвет фона инпутов */
  --ring: oklch(0.708 0 0);
  /* Цвет обводки при фокусе */
  --chart-1: oklch(0.646 0.222 41.116);
  /* Палитра для визуализации данных (графики, диаграммы) */
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  /* Фон сайдбара */
  --sidebar-foreground: oklch(0.145 0 0);
  /* Текст в сайдбаре */
  --sidebar-primary: oklch(0.205 0 0);
  /* Акцентный фон в сайдбаре */
  --sidebar-primary-foreground: oklch(0.985 0 0);
  /* Текст на фоне primary в сайдбаре  */
  --sidebar-accent: oklch(0.97 0 0);
  /* Дополнительный цвет в сайдбаре */
  --sidebar-accent-foreground: oklch(0.205 0 0);
  /* Текст на фоне accent в сайдбаре */
  --sidebar-border: oklch(0.922 0 0);
  /* Цвет границ элементов в сайдбаре */
  --sidebar-ring: oklch(0.708 0 0);
  /* Цвет обводки при фокусе */
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {}

  body {
    @apply bg-background text-foreground m-0;
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow-y: scroll;
  }

  h2 {
    color: #000;
    font-family: "Source Serif 4";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
  }

}

@layer components {
  .btn {
    transition: transform .2s;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn:hover {
    transform: scale(1.05);
  }

  .btn:active {
    transform: scale(.9)
  }

  .card {
    transition: transform .2s;
  }

  .hero-card {
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.02), 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  }
}

@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 1.25rem;
  }

  .hero-section {
    @apply lg:h-screen;
    transition: max-height 0.3s ease, height .3s ease;
    border: 0;
    box-shadow: none;
  }

  .hero-collapsed {
    @apply max-h-[350px] h-[350px];
  }

  .hero-expanded {
    @apply max-h-500 lg:h-[100dvh] lg:max-h-[100dvh] pb-30 lg:pb-0;
  }

  .hero-section::before,
  .hero-section::after {
    content: '';
    position: absolute;
    bottom: -2px;
    /* Размер области скругления */
    background: var(--color-background);
    z-index: 2;
    /* Маска: прозрачный круг в углу */
    mask: radial-gradient(circle at 0 100%, transparent 70%, var(--color-background) 70.1%);
    @apply lg:hidden w-15 h-15;
  }

  .hero-section::before {
    left: 0;
    mask: radial-gradient(circle at 102% -5%, transparent 70%, var(--color-background) 72.1%);
  }

  .hero-section::after {
    right: 0;
    mask: radial-gradient(circle at 2% -5%, transparent 70%, var(--color-background) 72.1%);
  }

  .fixed-header {
    @apply fixed translate-y-full;
  }

  .absolute-header {
    @apply absolute translate-y-full;
  }

  .animate-underline {
    background-image: linear-gradient(var(--accent), var(--accent));
    background-size: 0 5px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s;
  }

  .animate-underline:hover {
    background-size: 100% 5px;
  }

  .animate-underline:active,
  .animate-underline:focus {
    background-size: 0 5px;
  }

  .border-l-divider {
    @apply border-l border-border
  }

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out-down {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.3s ease-out forwards;
  }

  .animate-fade-out-down {
    animation: fade-out-down 0.3s ease-in forwards;
  }

  .my-grid-cols {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}